@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic);

body {
  margin: 0;
  font-family: Ubuntu, Arial;
}

body>header {
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: goldenrod;
  border-bottom: 1px grey solid;
}

body>header>h1 {
  margin: 0;
  color: #5C4306;
  font-family: Rockwell, Ubuntu, Arial;
  font-weight: normal;
  font-style: italic;
  text-shadow: 0 0 10px rgba(255,255,255,1);
  font-size: 125%;
}

nav#users {
  display: block;
  float: left;
}

nav#courses {
  display: table-cell;
  min-width: 300px;
  border-right: 1px grey solid;
}

nav#courses>header>h1 {
  font-family: Rockwell, Ubuntu Mono, Arial;
  font-weight: bold;
  font-size: 100%;
}

nav#courses>ul {
  list-style: none;
  padding: 0;
}

nav#courses>ul>li {
  border: 1px dotted grey;
}

main {
  display: table-cell;
  width: 100%;
  border-radius: 5px;
}

main a#new-assignment {
  display: inline-block;
  border-radius: 3px;
  border: 1px grey solid;
  background-color: darkgrey;
  padding: 5px;
  -webkit-transition: background-color 0.25s; /* For Safari 3.1 to 6.0 */
  transition: background-color 0.25s;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

main a#new-assignment:hover {
  background-color: lightgrey;
  cursor: pointer;
}

main a#new-assignment:active {
  background-color: white;
  cursor: pointer;
}

main>ul {
  padding: 0;
  margin: 0;
}

.assignment {
  list-style: none;
  border: 1px solid darkgrey;
  box-shadow: 3px 3px 5px 0px grey;
  border-radius: 10px;
  padding: 10px;
  -webkit-transition: background-color 0.25s; /* For Safari 3.1 to 6.0 */
  transition: background-color 0.25s;
  margin: 10px;
}

.assignment.unsaved {
  background-color: khaki;
}

.assignment #name {
  display: block;
  width: 100%;
}

.assignment #date {
  display: block;
  width: 100%;
}

.assignment #description {
  display: block;
  width: 100%;
  overflow-y: scroll;
  overflow-x: none;
  height: 50px;
  background-color: rgba(0,0,0,0.2);
  
}

.assignment a.delete {
  display: inline-block;
  border-radius: 3px;
  border: 1px grey solid;
  background-color: darkgrey;
  padding: 5px;
  float: right;
  -webkit-transition: background-color 0.25s; /* For Safari 3.1 to 6.0 */
  transition: background-color 0.25s;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.assignment a.delete:hover {
  background-color: #DDD;
  cursor: pointer;
}

.assignment a.delete:active {
  background-color: white;
  cursor: pointer;
}